body {
	width: 80%;
	max-width: 1024px;
	margin: 0 auto;
	background-image: url("https://images.hdqwalls.com/download/small-memory-8k-2a-2048x1152.jpg");
}
h1{
	font-size: xx-large;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: aliceblue;
}
.container-padding50 {
	padding-top: 50px;
}

.container-textinput {
	width: 80%;
	display: inline-block;
	padding: 20px;
	font-size: 16px;
	font-family: Helvetica, sans-serif;
	background-color:aquamarine;
}
.container-button {
	width: 10%;
	display: inline-block;
	padding: 20px;
	background-color: green;
	color: white;
	font-size: 16px;
	font-family: Helvetica, sans-serif;

	border: 1px solid green;
	border-radius: 5px;
}

.container-image {
	width: 30%;
	display: block;
	float: left;
	margin-right:3%;
}